﻿@*@model IEnumerable<MVCbyPragim.Models.Department>*@
@model IEnumerable<Department>
@using MVCbyPragim.Models;

@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Department Wise List</title>
</head>
<body>
    <b><u>Department Wise List</u></b>
    <ul>
        @foreach (Department department in @Model)
        {
            <li>
                @Html.ActionLink(department.Name, "Details", "Employee", new { Id = department.Id }, null)
            </li>
        }
    </ul>
</body>
</html>
