﻿@model BusinessLayer.EmployeeBLL

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>EmployeeBLL</legend>

            @*<div class="editor-label">
                    @Html.LabelFor(model => model.EmployeeId)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.EmployeeId)
                    @Html.ValidationMessageFor(model => model.EmployeeId)
                </div>*@

            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)                
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Gender)
            </div>
            <div class="editor-field">
                @Html.DropDownList("Gender", new List<SelectListItem>
           {
               new SelectListItem { Text="Male", Value="Male"},
               new SelectListItem { Text="Female", Value="Female"}
           }, "Select Gender")
                @Html.ValidationMessageFor(model => model.Gender)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.City)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.City)
                @Html.ValidationMessageFor(model => model.City)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.DepartmentId)
            </div>
            <div class="editor-field">
                @Html.DropDownList("DepartmentId", new List<SelectListItem>
                {
                    new SelectListItem{Text="1", Value="1"},
                    new SelectListItem{Text="2", Value="2"},
                    new SelectListItem{Text="3", Value="3"}
                }, "Select Department ID")
                @Html.ValidationMessageFor(model => model.DepartmentId)
            </div>
            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }
    <div>
        @Html.ActionLink("Back to List", "EmpDetails")
    </div>
</body>
</html>