﻿@model IEnumerable<MVCbyPragim.Models.Employee>
@using MVCbyPragim.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee Details</title>
</head>
<body>
    <b style="text-align:center"><u>Employee Names</u></b><br />
    @foreach (Employee emp in @Model)
    {
        @Html.ActionLink(emp.Name, "Index", "Employee", new { departmentId = emp.DepartmentId }, null)
        <br />

    }
    <div style="padding-top:20px; color:red; font-weight:800">
        @Html.ActionLink("Back to previous List", "Index", "Department");
    </div>
</body>
</html>

