﻿@*@model IEnumerable<BusinessLayer.EmployeeBLL>*@

@model BusinessLayer.EmployeeBLL


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DiplayDetails</title>
</head>
<body>
    <fieldset>
        <legend>EmployeeBLL</legend>

        <table border="1" class="display-label" style="height:200px; text-align:center">
            <tr>
                <td width="120px">
                    <b>@Html.DisplayNameFor(model => model.EmployeeId) : </b>
                </td>
                <td width="100px">
                    @Html.DisplayFor(model => model.EmployeeId)
                </td>
            </tr>
            <tr>
                <td>
                    <b>@Html.DisplayNameFor(model => model.Name) : </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td>
                    <b>@Html.DisplayNameFor(model => model.Gender) : </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Gender)
                </td>
            </tr>
            <tr>
                <td>
                    <b>@Html.DisplayNameFor(model => model.City) : </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.City)
                </td>
            </tr>
            <tr>
                <td>
                    <b>@Html.DisplayNameFor(model => model.DepartmentId) : </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.DepartmentId)
                </td>
            </tr>
        </table>
    </fieldset>
    <p>
        @*@Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |*@
        @Html.ActionLink("Back to List", "EmpDetails")
    </p>
</body>
</html>
