﻿@model BusinessLayer.EmployeeBLL

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <style type="text/css">
        .redclass {
            color: red;
        }
    </style>
</head>
<body>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset style="width:250px">
            <legend><b><u>EmployeeBLL</u></b></legend>
            <table style="width:400px">
                <tr>
                    <td>
                        <b>@Html.LabelFor(model => model.EmployeeId)</b>
                        @*@Html.EditorFor(model => model.EmployeeId)*@
                    </td>
                    <td>
                        <b>:</b>  @Html.DisplayFor(model => model.EmployeeId)
                        @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "redclass" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>@Html.LabelFor(model => model.Name)</b>
                        @*@Html.EditorFor(model => model.Name)*@
                    </td>
                    <td>
                        <b>:</b>  @Html.DisplayFor(model => model.Name)
                        @Html.HiddenFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>@Html.LabelFor(model => model.Gender)</b>
                    </td>
                    <td>
                        <b>:</b>  @Html.DropDownList("Gender", new List<SelectListItem>
           {
               new SelectListItem { Text="Male", Value="Male"},
               new SelectListItem { Text="Female", Value="Female"}
           }, "Select Gender")
                        @Html.ValidationMessageFor(model => model.Gender)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>@Html.LabelFor(model => model.City)</b>
                    </td>
                    <td>
                        <b>:</b>  @Html.EditorFor(model => model.City)
                        @Html.ValidationMessageFor(model => model.City)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>@Html.LabelFor(model => model.DepartmentId)</b>
                    </td>
                    <td>
                        <b>:</b>  @Html.DropDownList("DepartmentId", new List<SelectListItem>
                {
                    new SelectListItem{Text="1", Value="1"},
                    new SelectListItem{Text="2", Value="2"},
                    new SelectListItem{Text="3", Value="3"}
                }, "Select ID")
                        @Html.ValidationMessageFor(model => model.DepartmentId)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td style="padding-top:20px"><input type="submit" value="    Save    " /></td>
                </tr>
            </table>
        </fieldset>
    }
    <div>
        @Html.ActionLink("Back to List", "EmpDetails")
    </div>
</body>
</html>
