﻿@model IEnumerable<BusinessLayer.EmployeeBLL>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmpDetails</title>
</head>
<body>
    <div style="font-family:'Segoe Marker'; color:green; text-align:center; padding-left:100px; padding-top:40px">
        <p style="background-color:lightgray; width:80px">
            @Html.ActionLink("Create New", "Create")
        </p>

        <table border="1" width:"50%">
            <tr style="color:violet; font-size:large">
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DepartmentId)
                </th>
                <th>Action</th>
            </tr>

            @foreach (var item in Model)
            {
                using (Html.BeginForm("DeleteRecord", "Employee", new { id = item.EmployeeId }))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmployeeId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DepartmentId)
                        </td>
                        <td style="color:red; width:200px">
                            @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeId }) |
                            @Html.ActionLink("Details", "DiplayDetails", new { id = item.EmployeeId }) |
                            @*@Html.ActionLink("Delete", "DeleteRecord", new { id = item.EmployeeId })*@
                            <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete record for ID = ' + @item.EmployeeId)" />
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</body>
</html>
