﻿@model IEnumerable<MVCbyPragim.Models.Employee>


@{
    Layout = null;
}
@using MVCbyPragim.Models

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee List</title>
</head>
<body>
    <b style="text-align:center"><u>Employee List</u></b>

    @foreach (Employee emp in @Model)
    {
        <table style="border:2px solid; font-family:'Segoe UI'">
            <tr>
                <td>
                    <b>Employee Id :</b>
                </td>
                <td>
                    @emp.EmployeeId
                    @*@Html.ActionLink(emp.EmployeeId, "Details")*@
                </td>
            </tr>
            <tr>
                <td>
                    <b>Employee Name :</b>
                </td>
                <td>
                    @emp.Name
                    @*@Html.ActionLink(emp.Name, "Details")*@
                </td>
            </tr>
            <tr>
                <td>
                    <b>Employee Gender :</b>
                </td>
                <td>
                    @emp.Gender
                    @*@Html.ActionLink(emp.Gender, "Details")*@
                </td>
            </tr>
            <tr>
                <td>
                    <b>Employee City :</b>
                </td>
                <td>
                    @emp.City
                    @*@Html.ActionLink(emp.City, "Details")*@
                </td>
            </tr>
        </table>

        @*<li>
                @Html.ActionLink(employee.Name, "Details", new { id = employee.EmployeeId });
            </li>*@
    }

    @foreach (Employee e in @Model)
    {
        <div style="padding-top:20px; color:red; font-weight:800">

            @Html.ActionLink("Go Back to previous list", "Details", "Employee", new { id = e.DepartmentId }, null)
            
        </div>
    }
</body>
</html>