﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Countries List</title>
</head>
<body>
    
        
    
</body>
</html>
@foreach (string strCountry in ViewBag.countries)
{
    <li>@strCountry</li>
}